services:
  dev-db:
    image: postgres:latest
    environment:
      POSTGRES_DB: nodos-perifericos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - 5433:5432
  dev-mail:
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"
